h4{
  color: white;
}

.hover{
    background-color: #F44336
}

.hoverRed:hover{
  color: red;
}

.hover:hover{
    background-color: rgba(0,0,0,0.5);
}

.card {
  border-radius: 5px;
}

nav {
  background: rgb(79, 136, 243) !important;
  margin-bottom: 40px !important;
  height: 100px;
}

.align-middle {
  margin-top: 10px !important;
}

.nav-wrapper {
  padding-top: 20px;
}
